<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translate</title>
</head>
<body>
    <span style="font-style: italic ;font-weight: bold; font-size: 1.5em;line-height: 1.0em; color: navy;font-family: arial;">
    <form action="/nmt" method="post">
        <p><label for="to_translate">Write or copy/paste your sentences:</label></p>
            <p><textarea id="in" name="nmt" rows="12" cols="70">{{to_test}}</textarea></p>
        <p><input type="submit" value="번역하기/Translate"></p>
    </form>
    <p><textarea id="out" name="nmted" rows="12" cols="70">{{tested}}</textarea></p>
    </span>   
</body>
</html>
